h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
}

body {
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: var(
    --white-in-progect
  );
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

// width: 1200px;

.hero,
.directions,
.team,
.customer {
  text-align: center;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  text-align: center;
  box-shadow: 0px 4px 4px
    rgba(0, 0, 0, 0.15);
  color: $white-in-progect;
  background-color: $activ-color;
}

.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}

.svg {
  fill: currentColor;
}
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.svg {
  fill: currentColor;
}
