
    /* background-color */
    $primary-bc: #e5e5e5;
    $secondary-bc: #f5f4fa;
    $hero-footer-bc: #2f303a;
    $white-in-progect: #ffffff;
      
    /* animation color */
    $activ-color: #2196f3;
  
    /* text color */
    $primary-text-color: #212121;
    $secondary-text-color: #757575;
    $social-link-color: #afb1b8;
    $contact-text-color:rgba(0, 0, 0, 0.6);

    /* Transform /Translate */
    $primamy-transition-time: 250ms;
    $cubic-function: cubic-bezier(0.4, 0, 0.2, 1);
    $time-and-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* backdrop */
    $backdrop-bg-color: rgba(0, 0, 0, 0.2);
    
    /* form */
    $hight-input: 40px;
   
  